{
  "configs": [
    {
      "api_key": "YOUR_GOOGLE_API_KEY_HERE_1",
      "model": "gemini-2.0-flash-exp",
      "api_base": "https://generativelanguage.googleapis.com",
      "status": "unknown",
      "daily_limit": 1000
    },
    {
      "api_key": "YOUR_GOOGLE_API_KEY_HERE_2",
      "model": "gemini-2.0-flash-exp",
      "api_base": "https://generativelanguage.googleapis.com",
      "status": "unknown",
      "daily_limit": 1000
    }
  ]
}
